/* style.css */

.container,
.container-fluid {
  outline: 1px solid #333;
}

#main-title {
  width: 100%;
  height: 800px;
  color: #fff;
  background: #ccc;
  background-image: url(../images/ISS_astronaut.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

#main-title .title p {
  font-size: 25px;
}
#main-title .title p {
  font-size: 25px;
}

#main-title .title {
  padding-top: 50px;
}
